@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    background: #eef0f1;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
ul,
ol,
button,
input,
textarea,
select {
    font-family: 'Poppins',
        sans-serif;
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background: #f9741e;
}

body::-moz-progress-bar {
    width: 4px;
}

body::-moz-range-thumb {
    background: #f9741e;
}

.card-body {
    height: 20rem;
}

.carousel {
    position: relative;
    max-height: 100vh;
    height: 60vh;
}

.carousel .welcome-note {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.welcome-note H1 {
    font-size: 3rem;
}

.welcome-note h1,
.welcome-note p {
    margin: 0;
    padding: auto;
    overflow: hidden;
}

.slide-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide-info img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.auth-form {
    width: 450px;
    max-width: 450px;
    margin: 2rem auto;
    padding: 2rem;
    text-align: left;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.auth-header {
    text-align: center;
    color: #333369;
}

.no-account-register {
    font-size: small;
    color: #2c3e50;
}

.no-account-register a {
    text-decoration: none;
    color: #f7941e;
    font-weight: 500;
}

.no-account-register a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.input-control {
    border: none;
    border-bottom: 2px solid #333369;
    border-radius: 0;
}

.submit-btn {
    background: #f7941e;
    color: #fff;
    border-radius: 10rem;
    width: 50%;
}

.submit-btn:hover {
    background: #f0dfca;
    color: #f7941e;
    border: 1px solid #f7941e;
}

i.bi {
    margin-right: 0.5rem;
}

.card-img-blog {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

input.mail-in {
    border-radius: 10rem;
    border: none;
    padding: 0.5rem;
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0);
}

input.subscribe-btn {
    background: #f7941e;
    color: #fff;
    border-radius: 10rem;
    border: none;
    padding: 0.5rem;
    width: 25%;
    margin: 0 2.5%;
}

input.subscribe-btn:hover {
    background: #e8dbcb;
    color: #f7941e;
    border: #f7941e solid 1px;
}

.footer-div {
    background: #cecbcc;
}

.footer-img-logo {
    width: 200px;
    margin-bottom: 1rem;
}

.footer-heading {
    color: #2c3e50;
    font-weight: 600;
}

.footer-left-div,
.footer-note {
    text-align: left;
}

.footer-link a {
    color: #2c3e50;
    text-decoration: none;
}

.footer-link a i {
    font-size: larger;
    color: #f7941e;
}

.footer-link a:hover,
.footer-link a i:hover {
    color: #f9741e;
}

.footer-copy-area {
    background-color: #333369;
    padding: 1.5rem 0.5rem;
}

.copyright {
    color: #fff;
}

.footer-social-links {
    align-content: center;
    justify-content: center;
}

.footer-social-links a {
    /* margin:1rem; */
    padding: 0;
}

.footer-social-links a i {
    color: #f7941e;
    padding: 0.5rem;
}

.footer-social-links a i:hover {
    color: #f9741e;
}

.logged-user-menu {
    z-index: 10000;
}

nav.navbar {
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    z-index: 9999;
}

.nav-item-list {
    margin-left: auto;
}

nav a {
    color: #2c3e50;
    text-decoration: none;
    padding: 1rem;
    font-weight: 600;
}

nav a:hover,
.bi.dropdown-icon {
    color: #f7941e;
}

nav a.router-link-exact-active {
    color: #f9741e;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

.header-top {
    background: #333369;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.top-bar {
    list-style: none;
    margin: 0;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
}

.top-bar li {
    margin: 0 1rem;
}

.top-bar li a {
    color: #fff;
    text-decoration: none;
}

.top-bar li a:hover {
    color: #f7941e;
}

.top-bar li i {
    color: #f7941e;
    padding: 0 0.5rem;
}

.top-bar li i:hover {
    color: #7d7dd3;
}

.top-bar-left {
    justify-content: flex-start;
}

.top-bar-right {
    justify-content: flex-end;
}

.navbar-toggler {
    border: none;
    background: transparent;
    color: #f7941e;
    font-size: 32px;
    font-weight: bold;
}

@media only screen and (max-width: 990px) {
    .top-bar {
        flex-direction: column;
    }

    .top-bar-left {
        text-align: left;
        justify-content: center;
        align-content: center;
    }

    .top-bar-right {
        text-align: left;
        justify-content: center;
        align-content: center;
    }

    .nav-item {
        margin: 1rem 0;
        text-align: right;
        align-content: flex-end;
    }
}

@media only screen and (max-width: 576px) {
    .top-bar-left {
        display: none;
    }
}

.banner-style {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;
    position: relative;
    border-radius: 5px;
    transition: 0.3s all ease-in-out;
}

.banner-content-tours {
    background-image: url(@/assets/img/tourpackage.jpg);
}

.banner-content-accommodation {
    background-image: url(@/assets/img/accommodation.jpg);
}

.banner-content-handicrafts {
    background-image: url(@/assets/img/handicrafts.jpg);
}

.banner-content-agriproducts {
    background-image: url(@/assets/img/agriproducts.jpg);
}

.banner-content-dagana {
    background-image: url(@/assets/img/dagana.jpg);
}

.banner-content-lhuentse {
    background-image: url(@/assets/img/lhuentse.jpg);
}

.banner-content-mongar {
    background-image: url(@/assets/img/mongar.jpg);
}

.banner-content-pemagatshel {
    background-image: url(@/assets/img/pemagatshel.jpg);
}

.banner-content-tashiyangtse {
    background-image: url(@/assets/img/tashiyangtse.jpg);
}

.banner-content-trashigang {
    background-image: url(@/assets/img/trashigang.jpg);
}

.banner-content-zhemgang {
    background-image: url(@/assets/img/zhemgang.jpg);
}

.banner-style:hover {
    filter: brightness(0.8);
}

.banner-text {
    position: absolute;
    bottom: 10%;
    color: #fff;
    padding-left: 2rem;
    padding-bottom: 1rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    width: 100%;
}

.card-img-blog {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.contain {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}

i.bi {
    margin-right: 0.5rem;
}

.tab-content {
    padding: 0.5rem 2rem;
    border-radius: 5px;
    background: #ddd;
}

.tab-content::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab__headers {
    margin: 2rem 0;
    list-style: none;
    display: flex;
}

.tab__headers li {
    text-align: center;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    background: #f7e8e8;
    border-radius: 5px;
    cursor: pointer;
    color: #f9741e;
    transition: 0.3s all ease-in-out;
}

.tab__headers li:hover {
    background: #f7951eaa;
}

.tab__headers li.selected {
    background: #f7941e;
    color: #f7e8e8;
}

.card-img-blog {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.app-sticky-top {
    top: 6rem;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #f7941e !important;
}

.accordion-item {
    border: none;
}

.accordion-body {
    padding: 1rem 1.2rem;
    border-radius: 10px !important;
}

.accordion {
    background: #fafafa;
    max-width: 80%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10px;
}

.sidebar {
    max-width: 100%;
    box-shadow: none;
    padding: 1rem;
}

.accordion-header {
    border-radius: 10px;
}

.form-group-range {
    width: 100%;
    display: flex;
    margin: 1rem 0;
}

.input-group-text-minmax {
    border: none;
    margin: 0 0.5rem 0 0;
    align-content: center;
    justify-content: center;
    padding: 0.5rem 0;
}

.input-group input {
    border-radius: 5px;
    text-align: center;
    -moz-appearance: textfield;
}

.separator {
    width: 10%;
    margin: 0 0.5rem;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 16px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slider {
    height: 8px;
    border-radius: 2rem;
    background: #ddd;
    position: relative;
}

.progress-slider {
    height: 8px;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 2rem;
    background: #f7941e;
}

.range-input {
    position: relative;
}

.range-input input {
    height: 8px;
    position: absolute;
    top: -1.5rem;
    width: 100%;
    background: none;
    -webkit-appearance: none;
    pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 1rem;
    width: 1rem;
    background: #f9741e;
    border-radius: 5rem;
    pointer-events: auto;
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
    height: 1rem;
    width: 1rem;
    background: #f9741e;
    border-radius: 5rem;
    pointer-events: auto;
    border: none;
    -moz-appearance: none;
}

@media only screen and (max-width: 992px) {
    .accordion {
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .accordion {
        max-width: 100%;
    }
}

.card {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
}

.card-body {
    padding: 0;
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-details {
    padding: 0.5rem 1rem;
}

.details {
    display: flex;
}

.category-details {
    text-decoration: none;
    color: #2c3e50;
}

.category-details:hover {
    color: #f7941e;
}

.card-img-dzo {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

i.bi {
    margin-right: 0.5rem;
}

.btn-container {
    justify-content: flex-end;
}

button.limit {
    display: none;
}

.showButton {
    max-width: 100%;
    background: #f7941e;
    color: #fff;
    border: none;
    padding: 0.5rem 2rem;
}

.start-icon {
    color: #f7941e;
    padding: 2px;
    padding-bottom: 5px;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
}

.card-body {
    padding: 0;
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-details {
    padding: 0.5rem 1rem;
}

.details {
    display: flex;
}

.location {
    width: 60%;
}

.price {
    text-align: right;
}

.accommodation-details {
    text-decoration: none;
    color: #2c3e50;
}

.accommodation-details:hover {
    color: #f7941e;
}

.btn-preview {
    max-width: 100%;
    background: #f7941e;
    color: #fff;
    border-radius: 20rem;
    padding: 0.5rem 1rem;
}

.btn-preview:hover {
    background: #f9741e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-container {
    justify-content: flex-end;
}

button.limit {
    display: none;
}

.showButton {
    max-width: 100%;
    background: #f7941e;
    color: #fff;
    border: none;
    padding: 0.5rem 2rem;
}

.product-row {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.preview-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-preview {
    max-width: 100%;
    background: #f7941e;
    color: #fff;
    border-radius: 20rem;
    padding: 0.5rem 1rem;
}

.btn-preview:hover {
    background: #f9741e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-container {
    justify-content: flex-end;
}

button.limit {
    display: none;
}

.showButton {
    max-width: 100%;
    background: #f7941e;
    color: #fff;
    border: none;
    padding: 0.5rem 2rem;
}

.product-row {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.preview-buttons {
    display: flex;
    justify-content: space-between;
}

.navigation {
    padding: 0 16px;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-page {
    display: flex;
    flex: 1;
}

.right {
    justify-content: flex-end;
}

.toggle-page i {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #f7941e;
    font-size: 24px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-in-out;
}

.toggle-page i:hover {
    background: #f7941e;
    color: #fff;
}

.pagination {
    position: absolute;
    bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.pagination span {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.2s ease-in-out;
}

.pagination span.active {
    background: #f7941e;
    width: 30px;
    border-radius: 20rem;
}

.slide-enter-active,
.slide-leave-active {
    transition: opacity 0.7s ease-in-out;
}

.slide-enter-from,
.slide-leave-to {
    opacity: 0;
}

.slide-enter-to,
.slide-leave-from {
    opacity: 1;
}

.card-details {
    background: #fff;
    border-radius: 5px;
}

.home-sec {
    text-decoration: none;
}

.home-objects {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin: 0 1rem 1rem 1rem;
    padding: 0;
}

.home-objects:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.home-linear-heading {
    max-width: 50%;
    color: #fff;
    background: #f7941e;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

.home-heading {
    color: #fff;
    background: #f7941e;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

.home-tour-group {
    border-radius: 5px;
    padding: 1rem 0;
}

.home-container {
    border-radius: 5px;
}

.product-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.cardo {
    width: 40%;
    height: auto;
    background: #f7941e;
    border-radius: 5px;
    margin: 0.5rem;
    color: #fff;
}

.card-img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 5px;
    margin: 0;
}

.btn-home {
    background: #f7941e;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    width: 50%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10rem;
}

.btn-home:hover {
    background: #f9741e;
    color: #333369;
}

.image-block img {
    width: 100%;
    border-radius: 5px;
    height: 250px;
    object-fit: cover;
    transition: 300ms;
}

.image-block img:hover {
    filter: brightness(0.5);
}

.app-sticky-top-2 {
    top: 100vh;
    margin-top: 20rem;
}

.app-sticky-top {
    top: 8rem;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
    color: #666 !important;
}

.accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #f7941e !important;
    border-radius: 5px 5px 0 0;
}

.accordion-item {
    border: none;
    border-radius: 5px !important;
}

.accordion-body {
    padding: 1rem 1.2rem;
}

.accordion {
    background: #fafafa;
    max-width: 85%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10px;
}

.sidebar {
    max-width: 100%;
    box-shadow: none;
    padding: 1rem;
}

.accordion-header {
    border-radius: 10px;
}

.form-group-range {
    width: 100%;
    display: flex;
    margin: 1rem 0;
}

.input-group-text-minmax {
    border: none;
    margin: 0 0.5rem 0 0;
    align-content: center;
    justify-content: center;
    padding: 0.5rem 0;
}

.input-group input {
    border-radius: 5px;
    text-align: center;
    -moz-appearance: textfield;
}

.separator {
    width: 10%;
    margin: 0 0.5rem;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 16px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slider {
    height: 8px;
    border-radius: 2rem;
    background: #ddd;
    position: relative;
}

.progress-slider {
    height: 8px;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 2rem;
    background: #f7941e;
}

.range-input {
    position: relative;
}

.range-input input {
    height: 8px;
    position: absolute;
    top: -1.5rem;
    width: 100%;
    background: none;
    -webkit-appearance: none;
    pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 1rem;
    width: 1rem;
    background: #f9741e;
    border-radius: 5rem;
    pointer-events: auto;
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
    height: 1rem;
    width: 1rem;
    background: #f9741e;
    border-radius: 5rem;
    pointer-events: auto;
    border: none;
    -moz-appearance: none;
}

.home-block li a {
    color: #2c3e50;
    text-decoration: none;
}

.home-block li a:hover {
    color: #f7941e;
}


@media only screen and (max-width: 992px) {
    .accordion {
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .accordion {
        max-width: 100%;
    }
}

.btn-container {
    justify-content: flex-end;
}

button.limit {
    display: none;
}

.showButton {
    max-width: 100%;
    background: #f7941e;
    color: #fff;
    border: none;
    padding: 0.5rem 2rem;
}

.start-icon {
    color: #f7941e;
    padding: 2px;
    padding-bottom: 5px;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
}

.card-body {
    padding: 0;
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-details {
    padding: 0.5rem 1rem;
}

.details {
    display: flex;
}

.location {
    width: 60%;
}

.price {
    text-align: right;
}

.hotel-details {
    text-decoration: none;
    color: #2c3e50;
}

.hotel-details:hover {
    color: #f7941e;
}

i.bi {
    margin-right: 0.5rem;
}

.btn-container {
    justify-content: flex-end;
}

button.limit {
    display: none;
}

.showButton {
    max-width: 100%;
    background: #f7941e;
    color: #fff;
    border: none;
    padding: 0.5rem 2rem;
}

.duration-tours {
    display: flex;
}

.card {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
}

.card-body {
    padding: 0;
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-details {
    padding: 0.5rem 1rem;
}

.details {
    display: flex;
}

.location-tours {
    width: 50%;
}

.price {
    text-align: right;
}

.accommodation-details {
    text-decoration: none;
    color: #2c3e50;
}

.accommodation-details:hover {
    color: #f7941e;
}

.card-body {
    height: 20rem;
}

.carousel {
    position: relative;
    max-height: 100vh;
    height: 60vh;
}

.carousel .welcome-note {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.welcome-note H1 {
    font-size: 3rem;
}

.welcome-note h1,
.welcome-note p {
    margin: 0;
    padding: auto;
    overflow: hidden;
}

.slide-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide-info img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

i.bi {
    margin-right: 0.5rem;
}

.btn-container {
    justify-content: flex-end;
}

button.limit {
    display: none;
}

.showButton {
    max-width: 100%;
    background: #f7941e;
    color: #fff;
    border: none;
    padding: 0.5rem 2rem;
}

.duration-tours {
    display: flex;
}

.card {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
}

.card-body {
    padding: 0;
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-details {
    padding: 0.5rem 1rem;
}

.details {
    display: flex;
}

.location-tours {
    width: 50%;
}

.price {
    text-align: right;
}

.accommodation-details {
    text-decoration: none;
    color: #2c3e50;
}

.accommodation-details:hover {
    color: #f7941e;
}

.btn-preview {
    max-width: 100%;
    background: #f7941e;
    color: #fff;
    border-radius: 20rem;
    padding: 0.5rem 1rem;
}

.btn-preview:hover {
    background: #f9741e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-container {
    justify-content: flex-end;
}

button.limit {
    display: none;
}

.showButton {
    max-width: 100%;
    background: #f7941e;
    color: #fff;
    border: none;
    padding: 0.5rem 2rem;
}

.product-row {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.preview-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-preview {
    max-width: 100%;
    background: #f7941e;
    color: #fff;
    border-radius: 20rem;
    padding: 0.5rem 1rem;
}

.btn-preview:hover {
    background: #f9741e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-container {
    justify-content: flex-end;
}

button.limit {
    display: none;
}

.showButton {
    max-width: 100%;
    background: #f7941e;
    color: #fff;
    border: none;
    padding: 0.5rem 2rem;
}

.product-row {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.preview-buttons {
    display: flex;
    justify-content: space-between;
}

.card-details {
    background: #fff;
    border-radius: 5px;
}

.home-sec {
    text-decoration: none;
}

.home-objects {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin: 0 1rem 1rem 1rem;
    padding: 0;
}

.home-objects:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.home-linear-heading {
    max-width: 50%;
    color: #fff;
    background: #f7941e;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

.home-heading {
    color: #fff;
    background: #f7941e;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

.home-tour-group {
    border-radius: 5px;
    padding: 1rem 0;
}

.home-container {
    border-radius: 5px;
}

.product-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.cardo {
    width: 40%;
    height: auto;
    background: #f7941e;
    border-radius: 5px;
    margin: 0.5rem;
    color: #fff;
}

.card-img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 5px;
    margin: 0;
}

.btn-home {
    background: #f7941e;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    width: 50%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10rem;
}

.btn-home:hover {
    background: #f9741e;
    color: #333369;
}

.btn-container {
    justify-content: flex-end;
}

button.limit {
    display: none;
}

.showButton {
    max-width: 100%;
    background: #f7941e;
    color: #fff;
    border: none;
    padding: 0.5rem 2rem;
}

.start-icon {
    color: #f7941e;
    padding: 2px;
    padding-bottom: 5px;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
}

.card-body {
    padding: 0;
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-details {
    padding: 0.5rem 1rem;
}

.details {
    display: flex;
}

.location {
    width: 60%;
}

.price {
    text-align: right;
}

.hotel-details {
    text-decoration: none;
    color: #2c3e50;
}

.hotel-details:hover {
    color: #f7941e;
}